body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#div {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 6px;
}

button:focus {
    outline: none;
}
