body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: peachpuff;
}

h1 {
    padding: 10px;
}

input {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: peachpuff;
}