body {
    margin: 0;
    font-family: sans-serif;
}

#filmContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

#filmContainer img  {
    width: 100%;
}